{% extends 'base.html' %}
{% block content %}
    <h1>{{ game.title }}</h1>
    <p><strong>Genre:</strong> {{ game.genre }}</p>
    <p><strong>Release Date:</strong> {{ game.release_date }}</p>

    <h2>Reviews:</h2>
    {% for review in reviews %}
        <div class="game-card">
            <p><strong>Rating:</strong> {{ review.rating }}</p>
            <p>{{ review.comment }}</p>
        </div>
    {% empty %}
        <p>No reviews yet.</p>
    {% endfor %}

    <!-- Кнопка назад -->
    <p><a href="/games/">🔙 Back to game list</a></p>
{% endblock %}
